web-component-select {
  position: relative;
}

web-component-select>input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

web-component-select>div {
  top: 2rem;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 99999;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-height: 75vh;
  overflow-y: auto;
  transition: opacity 0.2s ease;
  border-radius: 0.2rem;
  pointer-events: none;
  background-color: white;
}

web-component-select.active>div {
  opacity: 1;
  pointer-events: auto;
}

web-component-select>div>div {
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

web-component-select>div>div:hover {
  background-color: #f5f5f5;
}